*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
     align-items: center;
    min-height: 100vh;
}

.QRCard{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 480px;
    margin: 0 auto;
    border-radius: 16px;
    
    
    
    
}

.QRCard .QR-card{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 12px;
    padding: 15px;
}


.QRCard .QR-card img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}


.QRCard h3{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.QRCard p{
    font-size: 15px;
    line-height:1.5;
    color: hsl(218, 44%, 22%);
    font-weight: 400;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}